@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

.menu {
    width: 100%;
    height: 23px;
    background: white;
    padding: 10px 0px 50px 50px;
    position: fixed;
}

.logo {
    display: block;
    float: left;
    margin-top: 20px;
}

.menu-nubank {
    max-width: 100%;
    float: left;
    
}

.menu-nubank li {
    margin-top: 20px;
    display: inline-block; /*lado a lado */
}

.menu-nubank .material-symbols-outlined {
    margin-left: 10px;
    float: right;
}

.sec-1 .material-symbols-outlined {
    float: right;
    margin-right: 300px;
}

.sec-3 .material-symbols-outlined {
    float: right;
    margin-right: 200px;
}

.sec-4 .material-symbols-outlined {
    float: right;
    margin-right: 150px;
}

.cartao .material-symbols-outlined {
    float: right;
    margin-right: 390px;
}

.cartao-ultra .material-symbols-outlined {
    float: right;
    margin-right: 540px;
}

.nu-cartao .material-symbols-outlined {
    float: right;
    margin-right: 230px;
}

.secao5 .material-symbols-outlined {
    float: right;
    margin-right: 1100px;
}

.secao6 .material-symbols-outlined {
    float: right;
    margin-right: 1300px;
}

.secao7 .material-symbols-outlined {
    float: right;
    margin-right: 1300px;
}

.login .material-symbols-outlined {
    margin-left: 10px;
}

.menu-nubank a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 33px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    color: black;
}

.login li {
    display: inline-block;
    margin-top: 15px;
    margin-right: 34px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    padding-right: 50px;
}

.login {
    float: right;
}

.login a {
    text-decoration: none;
    color: #820ad1;
    margin-left: 10px;
}

/* Inicio da Imagem após o Topo */

    .imagem {
        background: url(../img/img1.png) no-repeat center center;
        background-size: cover;
        height: 865px;
    }

    .imagem h1 {
        padding: 376px 0px 0px 0px;
        margin-left: 200px;
        font-family: "Cabin", sans-serif;
        color: white;
        font-size: 40px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .imagem h2 {
        margin-left: 200px;
        font-family: "Nanum Gothic", sans-serif;
        color: white;
        font-size: 25px;
        margin-bottom: 10px;
        font-weight: lighter;
    }

    .form {
        box-sizing: border-box;
        background: white;
        width: 330px;
        height: 300px;
        float: right;
        border-radius: 20px;
        text-align: left;
        padding: 20px;
        margin-top: -205px;
        margin-right: 40px;
    }

    .form h3 {
        font-family: "Cabin", sans-serif;
        color: black;
        font-size: 25px;
        margin-bottom: 70px;
    }

    .name {
        font-family: "Cabin", sans-serif;
        color: #bcbcbc;
        font-size: 20px;
    }

    .bto {
        font-family: "Nanum Gothic", sans-serif;
        font-size: 1em;
        font-weight: bold;
        background: e7e7e7;
        color: #bcbcbc;
        display: flex;
        justify-content: space-between;
        border: 0px;
        align-items: center;
        width: 100%;
        height: 2px;
        border-radius: 30px;
        margin-top: 10px;
        padding: 20px 20px 40px 35px;
    }

    .campo {
        width: 100%;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-color: #bcbcbc;
    }

/* Fim da Imagem após o Topo */

/* Inicio da Seção 2 */

    .secao2 {
        height: 850px;
        background: white;
        width: 100%;
        float: left;
    }

    .cartao {
        width: 45%;
        float: left;
        margin-right: 150px;
    }

    .secao2 h2 {
        font-family: "Cabin", sans-serif;
        font-size: 40px;
        text-align: left;
        margin-left: 360px;
        margin-top: 270px;
    }

    .secao2 h2 a {
        text-decoration: none;
        color: #820ad1
    }

    .secao2 h3 {
        font-family: "Cabin", sans-serif;
        font-size: 35px;
        text-align: left;
        color: black;
        margin-left: 360px;
    }

    .link2 {
        font-family: "Cabin", sans-serif;
        text-decoration: none;
        margin-left: 360px;
        font-weight: bold;
        color: #820ad1
    }

    .img-cartao {
        float: left;
        width: 45%;
        margin-top: 180px;
        margin-left: 10px;
    }

/* Fim da Seção 2 */

/* Inicio da Seção 3 */

    .secao3 {
        height: 850px;
        background: #f5f5f5;
        width: 100%;
        float: left;
    }

    .secao3 h2 {
        margin-left: 210px;
        font-family: "Cabin", sans-serif;
        font-size: 40px;    
    }

    .secao3 h2 a {
        text-decoration: none;
        color: #820ad1;
    }

    .secao3 h3 {
        font-family: "Cabin", sans-serif;
        font-size: 30px;
        margin-left: 210px;
    }

    .link3 {
        font-family: "Cabin", sans-serif;
        text-decoration: none;
        margin-left: 210px;
        font-weight: bold;
        color: #820ad1
    }

    .cartao-ultra {
        float: left;
        width: 45%;
        margin-top: 350px;
    }

    .violeta {
        float: left;
        margin-top: 180px;
        margin-left: 80px;
    }

    

/* Fim da Seção 3 */

/* Inicio da Seção 4 */

.secao4 {
    height: 850px;
    background: #f5f5f5;
    width: 100%;
    float: left;
    
}

.secao4 h2 {
    margin-left: 360px;
    font-family: "Cabin", sans-serif;
    color: #820ad1;
    font-size: 40px;   
    margin-top: 350px; 
}

.secao4 h3 {
    font-family: "Cabin", sans-serif;
    font-size: 30px;
    margin-left: 360px;
}

.link4 {
    font-family: "Cabin", sans-serif;
    text-decoration: none;
    margin-left: 360px;
    font-weight: bold;
    color: #820ad1
}

.nu-cartao {
    float: left;
    width: 45%;
}

.cartao-4 {
    width: 55%;
    float: left;
    margin-top: 180px;
    
}
/* Fim da Seção 4 */

/* Inicio da Seção 5, 6 e 7 */

.secao5 {
    float: left;
    background: url(../img/img5.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 860px;
}

.secao5 h2 {
    font-family: "Cabin", sans-serif;
    color: white;
    padding: 337px 0 0 0;
    margin-left: 460px;
    font-size: 40px;
}

.link5 {
    font-family: "Cabin", sans-serif;
    text-decoration: none;
    margin-left: 460px;
    color: white;
}

.secao6 {
    float: left;
    background: url(../img/img6.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 860px;
}

.secao6 h2 {
    font-family: "Cabin", sans-serif;
    color: white;
    padding: 337px 0 0 0;
    margin-left: 460px;
    font-size: 40px;
}

.link6 {
    font-family: "Cabin", sans-serif;
    text-decoration: none;
    margin-left: 460px;
    color: white;
}

.secao7 {
    float: left;
    background: url(../img/img7.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 860px;
}

.secao7 h2 {
    font-family: "Cabin", sans-serif;
    color: white;
    padding: 337px 0 0 0;
    margin-left: 460px;
    font-size: 40px;
}

.link7 {
    font-family: "Cabin", sans-serif;
    text-decoration: none;
    margin-left: 460px;
    color: white;
}

/* Fim da Seção 5, 6 e 7 */

/* Inicio do Rodapé 1 */

.rodape1 {
    background: #111111;
    width: 100vw;
}

.sec-1 {
    width: 22.1%;
    float: left;
}

.sec-2 {
    width: 22.1%;
    float: left;
}

.sec-3 {
    width: 22.1%;
    float: left;
}

.sec-4 {
    width: 22.1%;
    float: left;
}

.sec-1, .sec-2, .sec-3, .sec-4 {
    font-family: "Cabin", sans-serif;
    background: #111111;
    height: 420px;
    color: #bcbcbc;
    padding-top: 85px;
    padding-left: 55px;
}

.sec-1 a, .sec-2 a, .sec-3 a, .sec-4 a {
    text-decoration: none;
    font-family: "Cabin", sans-serif;
    font-weight: lighter;
    color: white;
    color: #bcbcbc;
}

.sec-1 li, .sec-2 li, .sec-3 li, .sec-4 li {
    font-family: "Cabin", sans-serif;
    list-style: none;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.sec-1 h2, .sec-2 h2, .sec-3 h2, .sec-4 h2 {
    font-family: "Cabin", sans-serif;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.sec-1 li a:hover {
    color: #820ad1;
}

.sec-2 li a:hover {
    color: #820ad1;
}

.sec-3 li a:hover {
    color: #820ad1;
}

.sec-4 li a:hover {
    color: #820ad1;
}

/* Fim do Rodapé 1 */

/* Inicio do Rodapé 3 */

.rodape3 {
    width: 100%;
    height: 130px;
    float: left;
    background-color: #111111;
    border-top: 1px solid #bcbcbc70;
}

.rodape3 a {
    color: white;
}

.rodape3 a:hover {
    color: #820ad1;
}

.imgrodape {
    padding: 30px;
    float: left;
}

.rodape3 p {
    font-family: "Cabin", sans-serif;
    font-size: 15px;
    color: white;
    padding: 25px;
    float: left;
}

.redes {
    float: right;
    margin-top: 50px;
    margin-right: 150px;
}

.redes li {
    display: inline-block;
    padding-right: 20px;
}
/* Fim do Rodapé 3 */